* {
    box-sizing: border-box;
    font-family: 'Open Sans',
        sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-size: 120%;
    background-color: #222;
    background-image: url('https://source.unsplash.com/1600x900/?madrid');
}

.card {
    background: #000000ad;
    padding: 2em;
    border-radius: 18px;
    width: 100%;
    max-width: 480px;
    color: #fff;
    margin: 1em;
    backdrop-filter: blur(5px);

}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

button {
    margin: 1em;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.096);

    color: #fff;
    border: none;
    outline: none;
    height: 40px;
    width: 40px;
}

button:hover {
    background-color: #7c7c7c;
}

input.search-bar {
    border: none;
    border-radius: 20px;
    outline: none;
    height: 40px;
    width: calc(100% - 80px);
    background-color: rgba(255, 255, 255, 0.096);
    color: #fff;
    padding: 15px;
    font-size: 97%;
}

.description {
    text-transform: capitalize;
}

.flex {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
}

.weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.weather.loading:after {
    visibility: visible;
    content: "Loading...";
    color: #fff;
    position: absolute;
    top: 0;
    left: 20px;
}